<ion-content [fullscreen]="true">

    <app-header></app-header>

    <ion-toolbar>
        <ion-title>Regresar</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

    </ion-toolbar>

    <ion-grid fixed>

        <ion-text *ngIf="hayLibros" class="txtLibrosDisp">
            <h3>Libros disponibles</h3>
        </ion-text>

        <!--Si hay libros - Libro cards por cada libro-->
        <ion-row *ngIf="hayLibros">

            <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3" size-xl="3" *ngFor="let l of libros">

                <ion-card class="cardLibro" [button]="true" (click)="bloquesPorLibro(l.libroId)">

                    <ion-img alt="Not Found" class="imagen" src="assets/libros/{{l.imgLibro}}/{{l.imgLibro}}-001.png">
                    </ion-img>

                    <ion-card-header>
                        <ion-card-title>{{l.titulo}} {{l.grado.identificador}}°</ion-card-title>
                    </ion-card-header>

                </ion-card>

            </ion-col>

        </ion-row>

        <!--Si no hay libros-->
        <ion-row *ngIf="!hayLibros">
            <ion-col size="12">
                <ion-text class="txtSorry">
                    <h2>Lo siento</h2>
                    <h1>No hay libros en este momento para este grado.</h1>
                </ion-text>
            </ion-col>
        </ion-row>

    </ion-grid>

    <app-footer></app-footer>

</ion-content>