ion-content {
  --background: var(--ion-color-light) !important;
}

ion-toolbar {
  --background: var(--ion-color-success-tint) !important;
  text-shadow: 0.5px 0.5px var(--ion-color-dark) !important;

  ion-title {
    text-align: left !important;
    --color: var(--ion-color-light) !important;
  }
  ion-back-button {
    color: var(--ion-color-light) !important;
  }
}

ion-grid {
  .txtAsignatura {
    text-align: center !important;
    color: var(--ion-color-dark) !important;
  }

  .colNoPadding {
    padding: 0px 0px 0px 0px !important;
  }

  .btnBack {
    --border-radius: 30px 0px 0px 30px !important;
    padding: 0px !important;
    margin-right: 0px !important;
  }

  .btnPage {
    --border-radius: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    --background: var(--ion-color-primary-tint) !important;
  }

  .btnNext {
    --border-radius: 0px 30px 30px 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
  }


  .tituloPagina {
    text-align: center !important;
    color: var(--ion-color-dark) !important;
    padding: 30px 0px 30px 0px !important;
  }

  .cardRespuestas {
    border-radius: 20px !important;
    --background: var(--ion-color-primary) !important;
    padding: 10px !important;

    .txtRespuestas {
      text-align: left !important;
      color: var(--ion-color-light) !important;
    }

  }

}
