ion-toolbar {
    --background: var(--ion-color-secondary-shade) !important;
}

ion-title {
    font-size: 28px !important;
    --color: var(--ion-color-light) !important;
}

ion-menu-button {
    --color: var(--ion-color-light) !important;
    font-size: 300px !important;
}