<ion-content [fullscreen]="true">

  <app-header></app-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button class="btnRegresar" (click)="regresar()">
        <ion-icon class="iconBack" slot="start" name="arrow-back-outline"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-grid fixed>


    <!-- Si hay un examen -->
    <ng-container *ngIf="examen ; else elseTemplate">

      <ion-grid fixed>
        <ion-row>

          <!-- texto de la asignatura y el bloque actual -->
          <ion-col size="6">

            <ion-text class="txtAsignatureBloque">
              <h3>{{examen.bloque.libro.titulo}}</h3>
              <h3>{{examen.bloque.nombre}}</h3>
            </ion-text>

          </ion-col>

          <!-- imagen de la asignatura -->
          <ion-col push-xl="1" push-md="1" size-xl="4" size-md="4">

            <ion-card class="cardLibro">
              <ion-img src="assets/libros/{{examen.bloque.libro.imgLibro}}/{{examen.bloque.libro.imgLibro}}-001.png">
              </ion-img>

              <ion-card-header>
                <ion-card-title>{{examen.bloque.libro.titulo}} {{examen.bloque.libro.grado.identificador}}°
                </ion-card-title>
              </ion-card-header>

            </ion-card>

          </ion-col>

        </ion-row>
      </ion-grid>



      <ion-text class="txtExamen">
        <h3 class="border">Examen {{examen.ciclo}}</h3>

        <h4>Lee la instrucción y selecciona la opción que consideres correcta.</h4>
      </ion-text>


      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-text class="txtPregunta">
              <h4>Pregunta: {{preguntaActual}}/{{maximoPreguntas}}</h4>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text class="txtRespuesta">
              <h4>Aciertos: X/{{maximoPreguntas}}</h4>
            </ion-text>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12">
            <ion-card class="cardPregunta">

              <ion-text color="dark">
                <h4>{{preguntaExamen.pregunta}}</h4>
              </ion-text>

              <ion-list>
                <ion-radio-group>

                  <ion-item>
                    <ion-label>a) {{preguntaExamen.opcion1}}</ion-label>
                    <ion-radio value={{preguntaExamen.opcion1}}></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>b) {{preguntaExamen.opcion2}}</ion-label>
                    <ion-radio value={{preguntaExamen.opcion2}}></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>c) {{preguntaExamen.opcion3}}</ion-label>
                    <ion-radio value={{preguntaExamen.opcion3}}></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>d) {{preguntaExamen.opcion4}}</ion-label>
                    <ion-radio value={{preguntaExamen.opcion4}}></ion-radio>
                  </ion-item>

                </ion-radio-group>
              </ion-list>

              <ion-button (click)="siguientePregunta()" expand="block" shape="round">
                Siguiente
              </ion-button>


            </ion-card>
          </ion-col>
        </ion-row>


      </ion-grid>





    </ng-container>


  </ion-grid>

  <app-footer></app-footer>

</ion-content>


<ng-template #elseTemplate>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" [ngStyle]="{'text-align': 'center'}">
        <h3>Lo sentimos, prueba no encontrada</h3>
        <ion-button (click)="goHome()" expand="block" shape="round">
          Regresar a Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ng-template>