ion-content {
    --background: var(--ion-color-light) !important;
  }
  
  ion-toolbar {
    --background: var(--ion-color-success-tint) !important;
  
    .btnRegresar {
      --color: var(--ion-color-light) !important;
      font-size: 18px !important;
      margin: 7px !important;
  
      .iconBack {
        margin-right: 24px !important;
        color: var(--ion-color-light) !important;
      }
    }
  }
  
  