ion-toolbar {
    --background: var(--ion-color-secondary-shade) !important;
}

ion-title {
    --color: white !important;
}

ion-content, ion-item {
    --background: var(--ion-color-light-tint) !important;

    ion-item {
        font-size: 18px !important;
    }

}

#list {
    background: var(--ion-color-light-tint) !important;
}
