ion-content {

    --background: var(--ion-color-secondary-shade) !important;

    ion-text {
        color: var(--ion-color-light) !important;
    }

}

ion-grid {
    text-align: center !important;
    
    #grado {
        padding: 12px 0px 12px 0px !important;
        font-size: 60px !important;
        border-radius: 30px !important;
    }

}
