<ion-content [fullscreen]="false">

    <app-header></app-header>

    <ion-grid fixed>

        <!--txt details page-->
        <ion-row>
            <ion-col push="1"></ion-col>
            <ion-col size="10">
                <ion-text color="light">
                    <h2>Respuestas a tus libros de texto, explicaciones y más...</h2>
                </ion-text>
            </ion-col>
            <ion-col push="1"></ion-col>
        </ion-row>

        <!--txt select grade-->
        <ion-row>
            <ion-col size="12">
                <ion-text color="light">
                    <h2>Selecciona tu grado:</h2>
                </ion-text>
            </ion-col>
        </ion-row>

        <!--grade txt and cards-->
        <ion-row>
            <!--grado-->
            <ion-col size="12">
                <ion-text color="light">
                    <h2>Primaria</h2>
                </ion-text>
            </ion-col>
            <!--cards of the grade-->
            <ion-col size-xs="4" size-sm="4" size-md="3" size-lg="2" *ngFor="let g of grade">
                <ion-card id="grado" [ngStyle]="{
                                'color': g.color
                            }" (click)="verLibrosPorGrado(g.grade)" button=true>
                    {{g.grade}}°
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <app-footer></app-footer>

</ion-content>