
<app-header></app-header>

<ion-content [fullscreen]=true class="background" padding>

 <div class="Encabezado">
    Respuestas a tus libros de texto, explicaciones y más...
    <br><br>
    Selecciona un grado:
</div>

<ion-grid fixed>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/uno.png"></ion-img>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/dos.png"></ion-img>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/tres.png"></ion-img>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/cuatro.png"></ion-img>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/cinco.png"></ion-img>
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>
                        Primaria
                    </ion-card-subtitle>
                    <ion-card-title>
                        Primer Grado
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                        Aqui encontrarás diferente material
                </ion-card-content>
                <ion-img src="assets/img/seis.png"></ion-img>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>    

</ion-content>

<app-footer></app-footer>
